.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 32px;
  height: 0;
  overflow-y: hidden;
  transition: 0.5s;
}

.content--opened {
  padding: 36px 32px;
  height: 635px;
}

.content__description {
  margin: 46px 0;
  overflow-y: scroll;
  max-height: 110px;
}

.content__btn {
  margin-bottom: -1px;
}
