.card {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid black;
  border-radius: 30px;
}

.card__wrapper {
  padding: 16px 32px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  transition: 0.5s;
}

.card__wrapper--active {
  background-color: #c0d899;
  transition: 0.5s;
}

.card__container {
  display: flex;
  width: 100%;
}

.card__title {
  align-self: center;
  margin-left: 30px;
  font-weight: 500;
  font-size: 20px;
}

.card__btn {
  align-self: center;
  margin-left: auto;
}
