.form {
  width: 100%;
}

.form__wrapper {
  grid-area: fields;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form__fields {
  position: relative;
  padding-top: 5px;
  width: 100%;
  max-width: 345px;
  margin-bottom: 25px;
}

.form__field {
  width: 100%;
  min-width: 80px !important;
  margin-bottom: 25px !important;
}

.form__field--w100 {
  max-width: 80px;
}

.form__field--w100:last-child {
  margin-right: 0 !important;
}

.form__field--w100:first-child {
  margin-left: 0 !important;
}

.form__field--w100 input {
  text-align: center;
}

.form__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.form__submit {
  margin-top: 15px;
  max-width: 345px;
  margin-bottom: 55pt;
}
