.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 95%;
  margin-top: 20pt;
  margin-bottom: 20pt;
  align-self: center;
}

.form__field {
  width: 100%;
  min-width: 80px;
  margin-bottom: 25px;
}

.form__field:first-child {
  margin-top: 50px;
}

.form__submit {
  margin-top: 25px;
  max-width: 345px;
  align-self: center;
  margin-bottom: 35px;
}
